.Navbar-body{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    align-items: center;
    background-color: yellow;
    padding: 10px 30px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position:sticky;
    top: 0;
    z-index: 1000;


}
.Logo img{
    height: 80px;
    border-radius: 50%;

}
.Navlinks{
    display: flex;
    gap:20px;
    align-items:center;
}