.Navbar-body{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    align-items: center;
    background-color: yellow;
    padding: 10px 30px;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position:sticky;
    top: 0;
    z-index: 1000;


}
.Logo img{
    height: 80px;
    border-radius: 50%;

}
.Navlinks{
    display: flex;
    gap:20px;
    align-items:center;
}
/* Footer.css */

.footer {
    background-color: #27344d;
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logoImage {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.copyrightImage {
    width: 16px;
    height: 16px;
    filter: invert(1);
}

.logoNameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoNamePara {
    font-size: 14px;
    margin: 0;
    color: #f4f4f4;
    text-align: center;
}

.SocialsContainer {
    display: flex;
    gap: 20px;
}

.SocialsContainer img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    filter: invert(1);
}

.SocialsContainer img:hover {
    transform: scale(1.2);
    filter: invert(0.7);
}